<div id="<%= dom_id clearance %>">
  <p>
    <strong>Link:</strong>
    <%= clearance.link %>
  </p>

  <p>
    <strong>User:</strong>
    <%= clearance.user_id %>
  </p>

  <p>
    <strong>Degree:</strong>
    <%= clearance.degree %>
  </p>

</div>
